/*
Footer

Crie o <footer> de um site que contenha a data de criação do site
Usando flex, alinhe o elemento do footer bem ao meio.
Deixe uma altura de 8rem para o footer.
O footer deverá ficar no final da página.

*/


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;   
    background-color: rgb(102, 102, 102);
    height: 8rem;
}   